[Unit]
Description=Run server to show the most recent log of each container

[Service]
Type=simple
ExecStart=/home/angkeith/Documents/Web-Bot/scripts/server.sh

[Install]
WantedBy=multi-user.target
