[Unit]
Description=Get status of mousehunt status and send notification

[Service]
Type=simple
ExecStart=/home/angkeith/Documents/Mousehunt/scripts/mousehunt_dunst.sh
