[Unit]
Description=Run `mousehunt_dunst` every 5 minutes

[Timer]
# run `systemd-analyze calendar "*:0/10"` which may be handy
OnCalendar=*:0/5
Unit=mousehunt-notif.service
AccuracySec=1s
OnBootSec=2min
# RandomizedDelaySec=10s

[Install]
WantedBy=timers.target
